<div class="login-container">

    <mat-tab-group>
        <mat-tab label="Firebase Login">
            <app-auth-login></app-auth-login>
        </mat-tab>
        <mat-tab label="Firebase Sign In">
            <app-sign-in></app-sign-in>
        </mat-tab>
        <mat-tab label="Firebase Social Login">
            <div *ngIf="user | async; else noSocialLogins" ></div>
            <ng-template #noSocialLogins>
                <mat-list>
                    <mat-list-item><app-twitter-auth></app-twitter-auth> </mat-list-item>
                    <mat-list-item> <app-google-auth></app-google-auth> </mat-list-item>
                    <mat-list-item> <app-facebook-auth></app-facebook-auth> </mat-list-item>
                    <mat-list-item> <app-github-auth></app-github-auth> </mat-list-item>
                </mat-list>    
            </ng-template>
        </mat-tab>
    </mat-tab-group>
  
<!--     
    <mat-card>
      <h3>Logout:</h3>
      <button *ngIf="user | async;" mat-raised-button appRgLogout>Logout</button>
    </mat-card>
-->

    <br> 
    
    <mat-card>
      <h4>Auth state:</h4> 
      <div *ngIf="user | async; let user; else loading">
        <pre> {{user | json}} </pre>
      </div> 
      <ng-template #loading>Waiting for User Data...</ng-template>
    </mat-card>
    <br> 
    
    <mat-card>
        <a mat-list-item routerLink="/terms-of-service" > Terms of service </a>
        <a mat-list-item routerLink="/privacy-policy" > Privacy Policy </a>  
    </mat-card>
    
</div>