.contact-container {
    padding: 30px;
}

.resume-header-image {
    background-image: url('https://res.cloudinary.com/peruve/image/upload/q_auto:low/v1516925339/blogLogo_fuob9x.jpg');
    background-size: cover;
}