<div class="container">
  <mat-card>

    <mat-card-title>Privacy Policy</mat-card-title>
    <mat-card-content>
      <p>
        We are committed to safeguarding the privacy of our website visitors; this policy sets out how we will treat your personal information.
      </p>
      
      <br>
      <h4>(1)  What information do we collect?</h4>
      <hr>
      
      <p>
        We may collect, store and use the following kinds of personal information:
      </p>
      <p>
        (a)  information about your computer and about your visits to and use of this website (including your IP address).
      </p>
      <p>
        (b)  information that you provide to us for the purpose of registering with us (including making enquiries)
      </p>
      <p>
        (c)  information that you provide to us for the purpose of subscribing to our website services, email notifications and/or newsletters.
      </p>
      <p>
        (d) any other information that you choose to send to us
      </p>
      
      <br>
      <h4>(2)  Cookies</h4>
      <hr>
      
      <p>
        A cookie consists of information sent by a web server to a web browser, and stored by the browser. The information is then sent back to the server each time the browser requests a page from the server. This enables the web server to identify and track the web browser.
      </p>
      <p>
        We use both “session” cookies and “persistent” cookies on the website.  We will use the session cookies to: keep track of you whilst you navigate the website. We will use the persistent cookies to: enable our website to recognise you when you visit.
      </p>
      <p>
        Session cookies will be deleted from your computer when you close your browser.  Persistent cookies will remain stored on your computer until deleted, or until they reach a specified expiry date.
      </p>
      <p>
        We use Google Analytics to analyse the use of this website.  Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers.  The information generated relating to our website is used to create reports about the use of the website. Google will store this information.  Google's privacy policy is available at: <a href="http://www.google.com/privacypolicy.html." class="a-blue">http://www.google.com/privacypolicy.html.</a>
      </p>
      <p>
        Most browsers allow you to reject all cookies, whilst some browsers allow you to reject just third party cookies.  For example, in Internet Explorer you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector.  Blocking all cookies will, however, have a negative impact upon the usability of many websites.
      </p>
      
      
      <br>
      <h4>(3)  Using your personal information</h4>
      <hr>
      
      
      <p>
        Personal information submitted to us via this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.
      </p>
      <p>
        We may use your personal information to:
      </p>
      <p>
        (a) administer the website
      </p>
      <p>
        (b) improve your browsing experience by personalising the website
      </p>
      <p>
        (c) enable your use of the services available on the website
      </p>
      <p>
        (d) send you general (non-marketing) commercial communications
      </p>
      <p>
        (e) send you email notifications which you have specifically requested
      </p>
      <p>
        (f) send to you marketing communications relating to our business where you have specifically agreed to this, by email (you can inform us at any time if you no longer require marketing communications)
      </p>
      <p>
        (g) provide third parties with statistical information about our users – but this information will not be used to identify any individual user
      </p>
      <p>
        (h) deal with enquiries and complaints made by or about you relating to the website
      </p>
      <p>
        Where you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the license you grant to us.
      </p>
      
      <br>
      <h4>(4) Disclosures</h4>
      <hr>
      
      
      <p>
        We may disclose information about you to any of our employees, officers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes as set out in this privacy policy.
      </p>
      <p>
        In addition, we may disclose your personal information:
      </p>
      <p>
        (a)  to the extent that we are required to do so by law;
      </p>
      <p>
        (b)  in connection with any legal proceedings or prospective legal proceedings;
      </p>
      <p>
        (c)  in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention);
      </p>
      <p>
        (d) to the purchaser (or prospective purchaser) of any business or asset which we are (or are contemplating) selling; and
      </p>
      <p>
        (e) to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.
      </p>
      <p>
        Except as provided in this privacy policy, we will not provide your information to third parties.
      </p>
      
      <br>
      <h4>(5)  International data transfers</h4>
      <hr>
      
      <p>
        Information that we collect may be stored and processed in and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this privacy policy.
      </p>
      <p>
        Information which you provide may be transferred to countries (including the United States) which do not have data protection laws equivalent to those in force in the European Economic Area.
      </p>
      <p>
        In addition, personal information that you submit for publication on the website will be published on the internet and may be available, via the internet, around the world.  We cannot prevent the use or misuse of such information by others.
      </p>
      <p>
        You expressly agree to such transfers of personal information.
      </p>
      
      <br>
      <h4>(6)  Security of your personal information</h4>
      <hr>
      
      
      <p>
        We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
      </p>
      <p>
        We will store all the personal information you provide on our secure password and firewall protected servers.
      </p>
      <p>
        Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.
      </p>
      <p>
        You are responsible for keeping your password and user details confidential. We will not ask you for your password (except when you log in to the website)
      </p>
      
      
      <br>
      <h4>(7)  Policy amendments</h4>
      <hr>
      
      
      <p>
        We may update this privacy policy from time-to-time by posting a new version on our website.  You should check this page occasionally to ensure you are happy with any changes.
      </p>
      
      <br>
      <h4>(8) Your rights</h4>
      <hr>
      
      
      <p>
        You may instruct us to provide you with any personal information we hold about you.  Provision of such information will be subject to:
      </p>
      <p>
        (a)  the payment of a fee (currently fixed at GBP £10.00); and
      </p>
      <p>
        (b)  the supply of appropriate evidence of your identity (for this purpose, we will usually accept a photocopy of your passport certified by a solicitor or bank plus an original copy of a utility bill showing your current address).
      </p>
      <p>
        We may withhold such personal information to the extent permitted by law.
      </p>
      <p>
        You may instruct us not to process your personal information for marketing purposes by email at any time.  In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt-out of the use of your personal information for marketing purposes.
      </p>
      
      <br>
      <h4>(9) Third party websites</h4>
      <hr>
      
      <p>
        The website contains links to other websites. We are not responsible for the privacy policies or practices of third party websites.
      </p>
      
      <br>
      <h4>(11)  Contact</h4>
      <hr>
      
      <p>
        If you have any questions about this privacy policy or our treatment of your personal information, please contact us on Twitter @<span ng-bind="SITE_TWITTER"></span>
      </p>
  
    </mat-card-content>

  </mat-card>
</div>

