<div class="container">


  <mat-grid-list cols="{{cols}}" rowHeight="2:1" role="list" gutterSize="5">
    <mat-grid-tile role="listitem">  
      <a href="https://github.com/romelgomez/digital-ocean-how-to-set-up-a-nodejs-application-for-production-on-ubuntu-16.04" target="_blank">
          <img src="https://res.cloudinary.com/peruve/image/upload/q_auto:eco/v1516919292/download_20_thpmul.jpg">  
          <mat-grid-tile-footer>DigitalOcean - how to set up a Node.js application for production on ubuntu 16.04</mat-grid-tile-footer>
      </a>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <img src="http://res.cloudinary.com/peruve/image/upload/c_scale,q_auto:good,w_900/v1516918289/download_13_dit8yz.jpg">  
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <img src="http://res.cloudinary.com/peruve/image/upload/c_scale,q_auto:good,w_900/v1516918283/download_7_xmeyre.jpg">  
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <img src="http://res.cloudinary.com/peruve/image/upload/c_scale,q_auto:good,w_900/v1516918305/download_5_khjm1c.jpg">  
    </mat-grid-tile>
    <mat-grid-tile role="listitem" colspan="{{cols}}">
      <!-- <mat-grid-tile-header>Amazing title</mat-grid-tile-header> -->
        <img src="https://res.cloudinary.com/peruve/image/upload/v1516919307/16564464885_d723850317_o_r9o6cz.jpg">
      <mat-grid-tile-footer>Amazing Title</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <img src="https://res.cloudinary.com/peruve/image/upload/c_scale,q_auto:good,w_900/v1516919566/16376793128_1de1823b91_b_g9lyjd.jpg">
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <img src="https://res.cloudinary.com/peruve/image/upload/q_auto:eco/v1516920237/16564465795_3a6f9c1b1f_b_b51llq.jpg">
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <img src="https://res.cloudinary.com/peruve/image/upload/c_scale,q_auto:good,w_900/v1516919491/download_18_hdcbc9.jpg">
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <img src="https://res.cloudinary.com/peruve/image/upload/c_scale,q_auto:good,w_900/v1516919620/download_mw0uwg.jpg">
    </mat-grid-tile>
  </mat-grid-list>


    <!-- <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="resume-header-image"></div>
            <mat-card-title>Almost ready!</mat-card-title>
            <mat-card-subtitle>@coffeeandcode</mat-card-subtitle>            
        </mat-card-header>    
        <img mat-card-image src="/assets/images/subaru.jpg" alt="Photo of surfboard">      
    </mat-card>      -->
      

    <!-- <hr>

    <h1>Blog Component</h1>
    
        <br>
    
    <b>text</b>
    <h1>text</h1>
    <h2>text</h2>
    <h3>text</h3>
    <h4>text</h4>
    
    <hr>
    
    <h3>Basic Buttons</h3>
    <div class="button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button routerLink=".">Link</a>
    </div>
    
    <h3>Raised Buttons</h3>
    <div class="button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </div>
    
    <h3>Icon Buttons</h3>
    <div class="button-row">
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>
    
    <h3>Fab Buttons</h3>
    <div class="button-row ">
      <button mat-fab>Basic</button>
      <button mat-fab color="primary">Primary</button>
      <button mat-fab color="accent">Accent</button>
      <button mat-fab color="warn">Warn</button>
      <button mat-fab disabled>Disabled</button>

      <div>
        <button mat-fab class="theme__button2">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
        <a mat-fab class="theme__button2" routerLink=".">Link</a>
  
      </div>

    </div>
    
    <h3>Mini Fab Buttons</h3>
    <div class="button-row">
      <button mat-mini-fab>Basic</button>
      <button mat-mini-fab color="primary">Primary</button>
      <button mat-mini-fab color="accent">Accent</button>
      <button mat-mini-fab color="warn">Warn</button>
      <button mat-mini-fab disabled>Disabled</button>
      <button mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-mini-fab routerLink=".">Link</a>
    </div> -->
    

</div>

