/* You can add global styles to this file, and also import other style files */

// https://www.materialpalette.com/
// https://medium.com/covalent-ui/angular-material-2-theme-tutorial-2f7e6c344006 
// https://www.materialpalette.com/deep-orange/green
// https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
// https://www.youtube.com/watch?v=PsgZjFTAleI
// $primary-color-dark:   #E64A19;
// $primary-color:        #FF5722;
// $primary-color-light:  #FFCCBC;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #4CAF50;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

@import '~@angular/material/theming';
@include mat-core();
// $primary: mat-palette($mat-orange, 800);
// $accent:  mat-palette($mat-light-blue, 600, 100, 800);
// $warn:    mat-palette($mat-red, 600);
// $theme: mat-light-theme($primary, $accent, $warn);

// $orange-app-primary: mat-palette($mat-deep-orange);
// $orange-app-accent:  mat-palette($mat-green);
// $orange-app-theme:   mat-light-theme($orange-app-primary, $orange-app-accent);

// $primary-color-dark:   #E64A19
// $primary-color:        #FF5722  500
// $primary-color-light:  #FFCCBC  100
// $primary-color-text:   #FFFFFF  White

// $accent-color:         #4CAF50
// $primary-text-color:   #212121  900
// $secondary-text-color: #757575  600
// $divider-color:        #BDBDBD  400

$orange-app-primary: mat-palette($mat-deep-orange, 500, 100, White);
$orange-app-accent:  mat-palette($mat-green, 500, 600, 400);
$warn:    mat-palette($mat-red, 600);
$orange-app-theme:   mat-light-theme($orange-app-primary, $orange-app-accent, $warn);

@include angular-material-theme($orange-app-theme);

body {
    margin: 0;
}

.circular-square {
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
}

.toolbar-logo {
    padding-right: 5px;
    width: 18px;
    height: 18px;
}

.toolbar-site-title {
    margin-left: 10px;
    text-decoration: none;
    color: white;    
}

.sidebar-container {
    margin: 0 5px 0 5px;    
    text-align: center;
}

.sidebar-logo {
    // display:block;
    // margin:auto;
    height: 45px;
    width: 45px;
}

.sidebar-close-button-container {
    margin-top: 10px;
}

// .toolbar-icon {
//     padding: 0 14px;
// }
  
.toolbar-spacer {
    flex: 1 1 auto;
}