/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.circular-square {
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
}

.toolbar-logo {
    padding-right: 5px;
}

.toolbar-site-title {
    margin-left: 10px;    
}

.sidebar-container {
    margin-right: 5px;    
    text-align: center;
}

// .sidebar-logo {
//     display:block;
//     margin:auto;
// }

.sidebar-close-button-container {
    margin-top: 10px;
}

