<div class="resume-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="resume-header-image"></div>
      <mat-card-title>My Resume</mat-card-title>
      <mat-card-subtitle>In lines of code</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/peruve/image/upload/q_auto:eco/v1516919960/coffe_pzt07z.svg" alt="Photo of surfboard">


    <mat-card-content>
  
      <!-- 
        <p>
          {{ 'myResume.HELLO' | translate:param }}
        </p>
     -->
      <p class="my-resume-start">
        <!-- {{ 'myResume.start' | translate }} -->

        Programmer, web developer, mobile developer (With Ionic). I have a least 8 years working in web development. I love riding a BMX, and hot coffee with chocolate.

      </p>

      <mat-accordion>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>polymer</mat-icon>
                     <span class="resume-select-panel-title">My tech stack includes</span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <!-- <span class="resume-select-description">Very formal</span> -->
                  </mat-panel-description>
              </mat-expansion-panel-header>
            
              <mat-list dense>
                  <mat-list-item *ngFor="let t of stack" >
                    <mat-icon>keyboard_arrow_right</mat-icon>  
                    {{t}}
                  </mat-list-item>
              </mat-list>              
      
        </mat-expansion-panel>   

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>business_center</mat-icon>
                <span class="resume-select-panel-title">Experience</span>                             
              </mat-panel-title>
              <mat-panel-description>
                <!-- <span class="resume-select-description">$$$$$$$</span> -->
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <div style="margin-bottom: 15px;">
                <b>Full Stack Engineer - PeruVe.com,</b> Develop a Job board and Currency Exchange Platform for Venezuelans in Perú. The main technologies that will be used are Angular 5, Firebase, Algolia, ExpressJS. [ene 2018 - present]
            </div>
            <div style="margin-bottom: 15px;">
               <b>Web UI Developer - NaisHair.com,</b> Develop new features, resolve issues, mostly in the frontend, using JS, CSS, PHP 7, Wordpress. [dic 2017 - present]
            </div>           
            <div style="margin-bottom: 15px;">
              <b>Laboratory Assistant - Universidad Pedagógica Experimental Libertador - IPM,</b> Technical support for the English and IT education departments and programs, a Web developer in the university developers team.  [ene 2011 - dic 2017]
            </div>
            <div style="margin-bottom: 15px;">
                <b>Full Stack Developer - MercadoChevere.com,</b> Develop a website to publish goods and services by small business owners and individuals. I write all front and back-end code. Is was build with Angular 1.5, Firebase, Algolia, Cloudinary, Express.  [feb 2008 - present]
            </div>
            <div style="margin-bottom: 15px;">
                <b>Salesman, Assistant and Technical Support,</b> Kavak Group C.A - Computer Store - RIF: J-31636746-0 [dic 2005 - mar 2006]
            </div>
            <div>
                <b>Assistant of cylinder head mechanic - Tiuna S.A - Rectification of Motors.</b> Address: Av. Alirio Ugarte Pelayo Galpón Tiuna, Sector Bajo Guarapiche, Maturin, Monagas, Venezuela.  Phone:  +58 (0291) 6430524. [dic 2003 - jul 2004]
            </div>
           

        </mat-expansion-panel>
  

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>school</mat-icon>
               <span class="resume-select-panel-title">Education</span>
            </mat-panel-title>
            <mat-panel-description>
              <!-- <span class="resume-select-description">Very formal</span> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div>
            <b>University:</b> Degree in Professor of Informatics in the Universidad Pedagógica Experimental Libertador of Venezuela							
          </div>
           
  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>http</mat-icon>
              <span class="resume-select-panel-title">Repositories</span>               
            </mat-panel-title>
            <mat-panel-description>
              <span class="resume-select-description">0101101</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div>
            <b>GitHub:</b> <a href="https://github.com/romelgomez" target="_blank">https://github.com/romelgomez</a>
          </div>
          <div>
            <b>Bitbucket:</b> <a href="https://bitbucket.com/romelgomez" target="_blank">https://bitbucket.org/romelgomez/</a>
          </div>           
  
        </mat-expansion-panel>




        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>translate</mat-icon>
              <span class="resume-select-panel-title">Languages</span>               
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style="margin-bottom: 15px;">
              <b>Spanish:</b> Native competence.
          </div>
          <div>
              <b>English:</b> Basic professional competence.
          </div>           

        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>import_contacts</mat-icon>
              <span class="resume-select-panel-title">Courses</span>               
            </mat-panel-title>
            <mat-panel-description>
              <!-- <span class="resume-select-description">0101101</span>               -->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            ( 2003 ) - 632 Hours - Diesel Engine Repair Mechanic 
          </div>
          <div>
            ( 2011 ) - 32 Hours - Basic Programming - Intermediate and OOP 
          </div>           

        </mat-expansion-panel>
      </mat-accordion>
  
    </mat-card-content>
    <mat-card-actions class="my-resume-actions">
      <a routerLink="/contact" routerLinkActive="active">
        <button mat-button class="get-in-touch-button">Get in touch!</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>

