ul {
    list-style-type: none;
}

.pdf-links {
    display: flex;
}


.resume-container {
    padding: 30px;
}

.resume-header-image {
    background-image: url('https://res.cloudinary.com/peruve/image/upload/q_auto:low/v1516925339/blogLogo_fuob9x.jpg');
    background-size: cover;
}

.resume-select-panel-title{
    padding-left: 5px;
    margin-top: 3px;
}

.resume-select-description{
    margin-top: 3px;
}

.my-resume-start {
    text-align: center;
    line-height: 200%;
    font-family: 'Bellefair', serif;
    font-size: x-large;
}

.my-resume-actions {
    text-align: center;
}

.get-in-touch-button {
    height: 70px;
    color: #ff5623;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    font-family: 'Bad Script', cursive !important;
    font-size: xx-large !important;
    vertical-align: middle !important;
}


@media screen and (max-width: 812px) {
    .my-resume-start {
        text-align: justify;
    }
}

// @media screen and (min-width:813px) {
// }