<div class="resume-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="resume-header-image"></div>
      <mat-card-title>My Resume</mat-card-title>
      <mat-card-subtitle>In lines of code</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/coffe.svg" alt="Photo of surfboard">


    <mat-card-content>
  
      <!-- <p>
          {{ 'myResume.HELLO' | translate:param }}
      </p>
   -->
      <p class="my-resume-start">
        {{ 'myResume.start' | translate }}

      </p>
  
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>school</mat-icon>
               <span class="resume-select-panel-title">Education</span>
            </mat-panel-title>
            <mat-panel-description>
              <span class="resume-select-description">Very formal</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div>
            <b>University:</b> Degree in Professor of Informatics in the Universidad Pedagógica Experimental Libertador of Venezuela							
          </div>
           
  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>http</mat-icon>
              <span class="resume-select-panel-title">Repositories</span>               
            </mat-panel-title>
            <mat-panel-description>
              <span class="resume-select-description">0101101</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div>
            <b>GitHub:</b> <a href="https://github.com/romelgomez" target="_blank">https://github.com/romelgomez</a>
          </div>
          <div>
            <b>Bitbucket:</b> <a href="https://bitbucket.com/romelgomez" target="_blank">https://bitbucket.org/romelgomez/</a>
          </div>           
  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>business_center</mat-icon>
              <span class="resume-select-panel-title">Formal Jobs</span>                             
            </mat-panel-title>
            <mat-panel-description>
              <!-- <span class="resume-select-description">$$$$$$$</span> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div>
            <b>(2011 - 2017) Laboratory assistant</b> in the english department of the Universidad Pedagógica Experimental Libertador
          </div>
          <div>
            <b>(2005 - 2006) Assistant and Technical Support</b> - 3 months - Kavak Group Computer Store, C.A. Rif.: J-31636746-0
          </div>           
          <div>
            <b>(2003 - 2004)  Assistant Mechanical</b> - 7 months - Tiuna S.A - Rectification of Motors.
          </div>
          
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>import_contacts</mat-icon>
              <span class="resume-select-panel-title">Courses</span>               
            </mat-panel-title>
            <mat-panel-description>
              <!-- <span class="resume-select-description">0101101</span>               -->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            ( 2003 ) - 632 Hours - Diesel Engine Repair Mechanic 
          </div>
          <div>
            ( 2011 ) - 32 Hours - Basic Programming - Intermediate and OOP 
          </div>           

        </mat-expansion-panel>
      </mat-accordion>
  
    </mat-card-content>
    <mat-card-actions class="my-resume-actions">
      <button mat-button class="get-in-touch-button">Get in touch!</button>
    </mat-card-actions>
  </mat-card>
</div>

