.resume-container {
    padding: 30px;
}

.resume-header-image {
    background-image: url('/assets/blogLogo.jpg');
    background-size: cover;
}

.resume-select-panel-title{
    padding-left: 5px;
    margin-top: 3px;
}

.resume-select-description{
    margin-top: 3px;
}
